# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# Virtual environments
# --------------------
.venv/
venv/
env/

# --------------------
# Packaging / build
# --------------------
build/
dist/
*.egg-info/
.eggs/

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Logs & caches
# --------------------
*.log
.cache/

# --------------------
# Data & results (ML)
# --------------------
data/**
!data/
!data/Val_arpette/
!data/Val_arpette/modeltrees_shape_names.txt
inference/

# Model / checkpoint files
*.pth
*.pt
*.tar
*.ckpt
*.h5
*.onnx
*.data-00000-of-00001

# Weights
models/weights/*
!weights/README.md

# --------------------
# OS / editor noise
# --------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp