# config.yaml
shared:
  batch_size: 12
  num_workers: 8
  num_class: 3
  kernel_size: 1
  num_repeat_kernel: 1
  grid_size: 64

training:
  num_epoch: 5
  learning_rate: 0.001
  weight_decay: 0.0001
  do_update_caching: true
  do_preprocess: false
  frac_training: 0.01
  frac_testing: 0.01
  do_continue_from_existing_model: false
  ROOT_DIR: 'data/modeltrees_12000/'
  TRAIN_FILES: 'modeltrees_train.csv'
  TEST_FILES: 'modeltrees_test.csv'

inference:
  do_preprocess: true
  verbose: false
  chunk_size: 30 # number of files processed at the time (0 = all of them)
  src_inf_root: "./inference/"
  src_inf_data: "test"
  src_inf_results: "test_results"
  src_model: "./models/pretrained/model_KDE.tar"
  inference_file: "modeltrees_inference.csv"
